:root {
    --cor-primaria: #232d3f;
    --cor-secundaria: #02ffab;
    --cor-branca: #ffffff;
    --cor-cinza: #7c7c7c;
    --cor-cinza-claro: #f8f8f8;
    --cor-preta: #141318;
    --cor-vermelha: #dd2c00;
}

/* percentual de navegacao */
#indicador-navegacao {
    background-color: var(--cor-secundaria);
    height: .35rem;
    width: 0;
    position: fixed;
    top: 0;
}

body {
    background-color: var(--cor-cinza-claro);
    color: var(--cor-primaria);
}

i {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 20px;
    color: var(--cor-secundaria);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 4em;
}

header img {
    border-radius: 18px;
    max-width: 100%;
    height: auto;
}

.perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    padding: 3rem 4rem;
    align-items: center;
}

.perfil img {
    max-width: 100%;
    height: auto;
    width: 200px;
    border-radius: 50%;
}

.perfil-info {
    margin-top: 12px;
    margin-bottom: 12px;
}

.h1-perfil {
    font-size: 3em;
}

.perfil-endereco, .perfil-cidade {
    font-size: 1.3em;
    color: var(--cor-cinza);
}

.perfil-mapa, a {
    color: var(--cor-primaria);
}

.perfil-btn i {
    color: var(--cor-primaria);
}

.perfil-btn, .link-projeto {
    margin-top: 1em;
    margin-bottom: 1em;
    appearance: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.3rem;
    max-width: 30rem;
    height: 2em;
    line-height: 2em;
    border-radius: 2em;
    padding: 0 1.3em;
    box-shadow: inset 0 0 0 1px var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.perfil-btn:hover a {
    text-decoration: none !important;
}

.perfil-btn:hover {
    border: transparent solid var(--cor-primaria);
    box-shadow: inset 0 0 0 2px var(--cor-primaria);
}

.media-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em 4em;
}

.section-valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: revert-layer;
    align-items: stretch;
    margin: 5em 4em;
}

.fa-flag, .fa-eye, .fa-diamond {
    color: var(--cor-primaria);
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 28px;
}

.valores-itens {
    flex: 1;
    text-align: center;
    border-radius: 18px;
    padding: 2em;
    margin: 1em;
    background-color: var(--cor-secundaria);
}

.valores-itens > h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em 0em;
    background-color: var(--cor-cinza-claro);
}

.conteudo-produto-media h2, .conteudo-produto-media p {
    margin: 1em 0;
}

.conteudo-produto-media p {
    color: var(--cor-cinza);
}

.link-projeto a {
    text-transform: none;
}

.pic-produto img {
    width: 380px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.footer {
    text-align: center;
    color: var(--cor-secundaria);
    margin-top: 10em;
    margin-bottom: 10em;
}

@media (width <= 768px) {
    .perfil img {
        width: 150px;
    }
    .h1-perfil {
        font-size: 2em;
    }
    .perfil-endereco, .perfil-cidade {
        font-size: 1em;
    }
    .perfil-btn {
        font-size: 1em;
    }
}

@media (width <= 600px) {
    header {
        padding: 0;
    }
    .section-valores {
        margin: 1em;
    }
    header img {
        border-radius: 0;
        width: 100%;
        height: auto;
    }
    .perfil, .projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 3rem 4rem;
        text-align: center;
    }
}
