:root {
    --cor-da-pagina: #141318;
    --cor-de-destaque: #02ffab;
    --cor-de-texto-escura: #7c7c7c;
    --cor-de-texto-clara: #f8f8f8;
}

/* percentual de navegacao */
#indicador-navegacao {
    background-color: var(--cor-de-destaque);
    height: .35rem;
    width: 0;
    position: fixed;
    top: 0;
}

body {
    background-color: var(--cor-da-pagina);
    color: var(--cor-de-texto-escura);
}

i {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 20px;
    color: var(--cor-de-destaque);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

header img {
    border-radius: 50%;
    width: 180px;
    height: auto;
}

.main {
    text-align: center;
}

.links {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.perfil, .links, .contato {
    margin: 3em;
}

.contato {
    display: flex;
    justify-content: center;
}

.contato h3 a {
    color: var(--cor-de-destaque);
}

.h3-title {
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 18px;
}

@media (width <= 768px) {
    .h3-title {
        font-size: 16px;
    }
}
