:root {
    --cor-primaria: #232d3f;
    --cor-secundaria: #02ffab;
    --cor-branca: #ffffff;
    --cor-cinza: #7c7c7c;
    --cor-cinza-claro: #f8f8f8;
    --cor-preta: #141318;
    --cor-vermelha: #dd2c00;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}

/* percentual de navegacao */
#indicador-navegacao {
    background-color: var(--cor-primaria);
    height: .35rem;
    width: 0;
    position: fixed;
    top: 0;
}

.nav-header {
    display: flex;
    background-color: var(--cor-cinza-claro);
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.h2-logo {
    display: flex;
    align-items: inherit;
}

.main-termo-uso {
    margin: 4em 4em;
}

.main-termo-uso p {
    padding: 1em;
}

.footer {
    margin: 9em 3em;
}

.footer p {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.padding-1 {
    padding: 1em;
}

@media (width <= 600px) {
    .main-termo-uso {
        margin: 4em 2em;
    }
}